# Thư mục build của Flutter/Android/iOS
**/build/
.dart_tool/
.packages
.pub-cache/
.pub/

# Python & môi trường ảo
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Các file rác hệ thống và IDE
.DS_Store
.idea/
.vscode/
*.log

# Bỏ qua các file/folder không cần thiết ở root
/workout-repo-tmp/
/download_foods.py

# Logic cho thư mục scripts: Bỏ qua hết trừ food_recognition_api
/scripts/*
!/scripts/food_recognition_api/
